@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo,meu nome é  @Model.Nome </h1>
    <p>Esse é o  Meu Primeiro Site em MVC</a></p>
    <span>Este é o meu e-mail: @Model.Email </span>
    <p>Eu sou @Model.Desenvolvedor</p>

</div>
